:root {
  --first-color: #272142;
  --second-color: #6c63ff;
  --third-color: #f9f7fe;
  --fourth-color: white;
  --fifth-color: black;
  --fontfamily-first: "Poppins", sans-serif;
  --fontfamily-second: "Playfair Display", serif;
}

body {
  margin: 0 0;
  padding: 0 0;
}

.wrapper,  .about-wrapper{
  text-align: center;
  padding: 51px 67px;
}

.wrapper {
  background-color: var(--third-color);
  height: 900px;
  margin: 0 0 127px 0;
}
.about-wrapper{
  background-color: var(--fourth-color);
  height: auto;
  margin: 0 0 110px 0;
}

.logo {
  position: absolute;
  top: 40px;
  left: 165px;
}

/* top menu navigation_START */

.link-menu-block {
  position: absolute;
  top: 51px;
  left: 960px;
}
.link-menu {
  text-decoration: none;
  font-size: 16px;
  color: var(--first-color);
  line-height: 24px;
  font-family: var(--fontfamily-first);
  margin: 0 30px;
}

.link-menu:hover {
  color: var(--second-color);
}
/* top menu navigation_END */


/* First part of "homepage"_START */
.greeting-text {
  margin-top: 211px;
}

.name {
  color: var(--fifth-color);
  font-family: var(--fontfamily-second);
  font-weight: 700;
  font-size: 96px;
  line-height: 128px;
}
p {
  font-family: var(--fontfamily-first);
  font-weight: normal;
}
.greeting {
  color: var(--first-color);
  font-family: var(--fontfamily-first);
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
}

#text-about {
  color: var(--first-color);
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  margin: 0 auto;
  line-height: 36px;
}
        /* button "contact me"_START */
.button-contact-me {
  display: inline;
  background-color: var(--second-color);
  padding: 18px 46px;
  border-radius: 4px;
}
.button-contact-me a {
  font-family: var(--fontfamily-first);
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  text-decoration: none;
  text-align: center;
  text-transform: capitalize;
  color: var(--third-color);
}
.button-contact-me:hover {
  color: var(--first-color);
}
        /* button "contact me"_END */
/* First part of "homepage"_END */


/* Second part of "homepage" and part of "About"_START */
.second-wrapper {
  padding: 0 0;
  margin: 0 67px;
}
.text-second-part {
  text-align: center;
  margin-bottom: 82px;
}
      /* Page of "About" and page of "Contact"*/
.headerDictionary,
.headerWeather,
.headerYogurt, .about-greeting, .get-touch {
  font-family: var(--fontfamily-second);
  font-size: 64px;
  font-weight: 700;
  line-height: 85px;
  color: var(--fifth-color);
}
.headerDictionary,
.headerWeather,
.headerYogurt {
  margin-top: 95px;
  margin-bottom: 55px;
}
      /* Page of "About" */
.about-greeting{
  margin-top: 10px;
  margin-bottom: 29px;
}
      /* Page of "Contact" */
.get-touch{
  margin-top: 10px;
  margin-bottom: 235px;
}

.content-yogurt,
.content-dictionary,
.content-weather {
  margin-bottom: 68px;
}
      /* Page of "About" */
.content-yogurt,
.content-dictionary,
.content-weather, .about-developer, .about-content-developer{
  margin: 10px 0;
  font-family: var(--fontfamily-first);
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  color: var(--first-color);
}
      /* Page of "About" */
.about-content-developer{
  margin-bottom: 66px;
}
      /* Page of "About" */
.about-developer{
  font-weight: bold;
  margin-bottom: 28px;
}
      /* Page of "About" */
.about-photo-developer{
  height: 460px;
  padding: 0 0;
  margin-bottom: 100px;
}

/* buttons "Weather", "Yoga", "Yogurt", 
"View detail project" on Homepage and page "About" */

.contact-link {
  background-color: var(--fourth-color);
  color: var(--second-color);
  border: 1px solid var(--second-color);
  border-radius: 4px;
  padding: 18px 46px;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
}

.contact-link:hover {
  background-color: var(--second-color);
  color: var(--fourth-color);
}
/* on Homepage and pages "About" and "Work"*/
.img-fluid {
  margin-bottom: 70px;
}

.my-work .img-fluid{
  margin-bottom: 16px;
}
      /* on page "Work"*/
#last-row{
  padding: 0 0;
  margin-bottom: 200px;
}

/* Second part of "homepage" and part of "About"_END */

/* third part of Homepage, part of pages "About", "Work", "Contact"*/
.third-wrapper {
  padding: 0 0;
  margin: 0 79px;
}

.block-work-inquiry {
  background-color: var(--third-color);
  border-radius: 4px;
  padding: 49px 119px;
  height: 200px;
}

.work-inquiry {
  font-family: var(--fontfamily-second);
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
  color: var(--fifth-color);
  padding-bottom: 4px;
}

.work-inquiry-content {
  font-family: var(--fontfamily-first);
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: var(--first-color);
}
.email-link-block {
  padding-top: 41px;
  text-align: right;
}

          /* button "Let's talk here"_START */
.email-link {
  display: inline;
  background-color: var(--second-color);
  padding: 18px 38px;
  border-radius: 4px;
}
.email-link a {
  font-family: var(--fontfamily-first);
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  text-decoration: none;
  color: var(--third-color);
  margin: 0 auto;
}
.email-link a:hover {
  color: var(--first-color);
}

          /* button "Let's talk here"_END */

.my-email {
  font-family: var(--fontfamily-first);
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  text-align: center;
  color: var(--fifth-color);
  margin-top: 81px;
  margin-bottom: 41px;
}
/* social media icons */
.social-media-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  margin-bottom: 132px;
}

.fa-facebook-f,
.fa-twitter,
.fa-instagram {
  font-size: 18px;
  color: var(--second-color);
  margin: 11px auto;
}

.facebook,
.twitter,
.instagram {
  width: 40px;
  height: 40px;
  background-color: var(--third-color);
  margin-right: 33px;
  border-radius: 50%;
}

.facebook:hover,
.twitter:hover,
.instagram:hover {
  border: 1px solid var(--second-color);
}



.first-image-caption{
  font-family: var(--fontfamily-first);
  color: var(--fifth-color);
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  margin-bottom: 9px;
}

.second-image-caption{
  font-family: var(--fontfamily-first);
  color: var(--first-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  margin-bottom: 40px;
}